# # W3P2 - PART2 - city_bikes

assignment file part 1 

----
# CityBikes

In [1]:
import requests
import pandas as pd
import json

Starting with a broad search of all of the available cities:
According to the [citybik.es](https://citybik.es/) home page, there are only 6 Canadian cities to choose from:  
<img src=../images/citybik.es%20CA%20and%20US%20cities.png alt=../images/citybik.es%20CA%20and%20US%20cities.png width="800"/>

In [38]:
ctyBks = requests.get('https://api.citybik.es/v2/networks').json()

In [40]:
ctyBks['networks'][100]

{'company': ['BCycle, LLC'],
 'gbfs_href': 'https://gbfs.bcycle.com/bcycle_bublr/gbfs.json',
 'href': '/v2/networks/bublr-bikes',
 'id': 'bublr-bikes',
 'location': {'city': 'Milwaukee, WI',
  'country': 'US',
  'latitude': 43.0369,
  'longitude': -87.89667},
 'name': 'Bublr Bikes'}

_Make sure my df-building plan is really a thing using simple example first:_

In [52]:
test1 = [{'a': 100, 'b': 100}]
test2 = [{'a': 220, 'b': 220}]
test3 = [{'a': 330, 'b': 330}]
fulltest = []

fulltest.extend(test1)
fulltest.extend(test2)
fulltest.extend(test3)

print(fulltest)
testdf = pd.DataFrame(fulltest)
testdf

[{'a': 100, 'b': 100}, {'a': 220, 'b': 220}, {'a': 330, 'b': 330}]

     a    b
0  100  100
1  220  220
2  330  330

In [51]:
ctyBks_services = []
for i in range(num_of_networks): 
    city = ctyBks['networks'][i]['location']['city']
    country = ctyBks['networks'][i]['location']['country']
    id = ctyBks['networks'][i]['id']
    
    ctyBks_services.extend([{'city': city, 'country': country, 'id': id}])

cb_service_sites = pd.DataFrame(ctyBks_services)
cb_service_sites

                    city country                   id
0                 Moscow      RU      velobike-moscow
1                  Bærum      NO      baerum-bysykkel
2                  Siena      IT     bicincitta-siena
3               Maroussi      GR  cyclopolis-maroussi
4                 Slough      GB    cycle-hire-slough
..                   ...     ...                  ...
609             Portorož      SI      nomago-portoroz
610  Landau in der Pfalz      DE           vrn-landau
611               Aachen      DE      velocity-aachen
612               Québec      CA         avelo-quebec
613             Saguenay      CA  acces-velo-saguenay

[614 rows x 3 columns]

In [57]:
cb_service_sites[['country', 'city']].groupby(['country']).count().sort_values('city', ascending=False)

         city
country
IT        123
DE         73
PL         55
US         52
FR         42
HR         28
CZ         26
ES         26
GR         26
CH         20
AT         18
BR         17
GB         11
SI          8
CA          6
NO          5
SK          5
RO          4
IE          4
RU          4
MX          4
SE          4
AU          4
TR          4
UA          4
BE          3
BA          3
KZ          3
CY          3
LU          2
CL          2
AR          2
NL          2
FI          2
NZ          2
JP          1
IL          1
UK          1
CO          1
TH          1
GE          1
HU          1
IN          1
PT          1
LB          1
IS          1
MT          1
ME          1
MC          1
LV          1
LT          1
AE          1

[{'a': 100, 'b': 100}, {'a': 220, 'b': 220}, {'a': 330, 'b': 330}]

     a    b
0  100  100
1  220  220
2  330  330

In [23]:
# Number of total Networks:
print(len(ctyBks['networks']))

num_of_networks = len(ctyBks['networks'])

614

614

In [17]:
ctyBks['networks'][0]['location']['country']

'RU'

In [20]:
canadian_ntwrks = []
for i in range(num_of_networks):
  if ctyBks['networks'][i]['location']['country'] == 'CA':
    
    canadian_ntwrks.append(ctyBks['networks'][i])

In [35]:
len(canadian_ntwrks)

6

Still only 6. Which are the following cities:

In [33]:
for i in range(6):
  print(canadian_ntwrks[i]['location']['city'])

Montréal, QC
Toronto, ON
Hamilton, ON
Vancouver
Québec
Saguenay

6

Send a request to CityBikes for the city of your choice.

614

{'company': ['ЗАО «СитиБайк»'],
 'href': '/v2/networks/velobike-moscow',
 'id': 'velobike-moscow',
 'location': {'city': 'Moscow',
  'country': 'RU',
  'latitude': 55.75,
  'longitude': 37.616667},
 'name': 'Velobike'}

In [7]:
ctyBks['networks'][0]['company']

['ЗАО «СитиБайк»']

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Put your parsed results into a DataFrame.